
.shift_data table {
	display: inline-block;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	table-layout: fixed;
	min-width: 100%;
}

.shift_data th{
	background-color: #FFF;
}
.tdshift {
	width: 5px;
}

.tdname {
	white-space: nowrap;
}
.clicked { 
	background-color: #f00; 
}
